html {
  position: relative;
  min-height: 100%;
}
  
.jumbotron, #card {
  margin-left: 4rem;
  margin-right: 4rem;
}
  
.jumbotron {
  padding: 30px 50px 80px 50px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.row>* {
  padding-right: 0;
}